*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#red {
    background-color: #03001C;
    /* height: auto; */
    text-align: center;
    padding: 0;
}

#content{
    margin: auto;
    padding: auto;
}

#blue{
    /* background-color: blue; */
    /* height: 600px; */
    /* background-image: url(images/image.jpg); */
    padding: 0;
    
}

img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

